*,h1,h2,h3,h4,h5,h6,p,ul,li{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
}

html {
    height: 100%;
    min-height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
ul,li{
  list-style: none;
}
input,button{
  border:none;
  outline:0;
}
body {
  width: 100%;
  height: 100%;
    font: 16px/20px $light;
    color: #fff;
    
    &.fixed {
        overflow: hidden;
    }
}
img{
  max-width:100%;
  height:auto;
    vertical-align: middle;
}
a,a:hover,a:active,a:focus,a:visited{
  text-decoration: none;
  outline:none;
  cursor:pointer;
}
.button{
  padding: 8px 25px;
  color: #fff;
  font-size: 22px;
}
a.button{
  display:inline-block;
}

.wrapper {
    min-width: 320px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    position: relative;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
