@font-face {
    font-family: 'RobotoLight';
    src: url('../../fonts/Roboto/RobotoLight.eot');
    src: url('../../fonts/Roboto/RobotoLight.eot') format('embedded-opentype'),
        url('../../fonts/Roboto/RobotoLight.woff2') format('woff2'),
        url('../../fonts/Roboto/RobotoLight.woff') format('woff'),
        url('../../fonts/Roboto/RobotoLight.ttf') format('truetype'),
        url('../../fonts/Roboto/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../../fonts/Roboto/RobotoBold.eot');
    src: url('../../fonts/Roboto/RobotoBold.eot') format('embedded-opentype'),
        url('../../fonts/Roboto/RobotoBold.woff2') format('woff2'),
        url('../../fonts/Roboto/RobotoBold.woff') format('woff'),
        url('../../fonts/Roboto/RobotoBold.ttf') format('truetype'),
        url('../../fonts/Roboto/RobotoBold.svg#RobotoBold') format('svg');
}

@font-face {
    font-family: 'GothamLightRegular';
    src: url('../../fonts/Gotham/GothamLightRegular.eot');
    src: url('../../fonts/Gotham/GothamLightRegular.eot') format('embedded-opentype'),
        url('../../fonts/Gotham/GothamLightRegular.woff2') format('woff2'),
        url('../../fonts/Gotham/GothamLightRegular.woff') format('woff'),
        url('../../fonts/Gotham/GothamLightRegular.ttf') format('truetype'),
        url('../../fonts/Gotham/GothamLightRegular.svg#GothamLightRegular') format('svg');
}

@font-face {
    font-family: 'GothamBoldRegular';
    src: url('../../fonts/Gotham/GothamBoldRegular.eot');
    src: url('../../fonts/Gotham/GothamBoldRegular.eot') format('embedded-opentype'),
        url('../../fonts/Gotham/GothamBoldRegular.woff2') format('woff2'),
        url('../../fonts/Gotham/GothamBoldRegular.woff') format('woff'),
        url('../../fonts/Gotham/GothamBoldRegular.ttf') format('truetype'),
        url('../../fonts/Gotham/GothamBoldRegular.svg#GothamBoldRegular') format('svg');
}

@font-face {
    font-family: 'GothamBookRegular';
    src: url('../../fonts/Gotham/GothamBookRegular.eot');
    src: url('../../fonts/Gotham/GothamBookRegular.eot') format('embedded-opentype'),
        url('../../fonts/Gotham/GothamBookRegular.woff2') format('woff2'),
        url('../../fonts/Gotham/GothamBookRegular.woff') format('woff'),
        url('../../fonts/Gotham/GothamBookRegular.ttf') format('truetype'),
        url('../../fonts/Gotham/GothamBookRegular.svg#GothamBookRegular') format('svg');
}



