$light: 'RobotoLight', Helvetica, Arial, sans-serif;
$bold: 'RobotoBold', Helvetica, Arial, sans-serif;

$gotham-light: 'GothamLightRegular', Helvetica, Arial, sans-serif;
$gotham-bold: 'GothamBoldRegular', Helvetica, Arial, sans-serif;
$gotham-book: 'GothamBookRegular', Helvetica, Arial, sans-serif;
//fonts
