body {
    height:100vh;
    background: #e2e7ed;
    width: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
}

.weather-info {
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    justify-content: flex-start;
    margin: 0 -16px;
    
    &__item {
        margin: 16px;
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc(33.333% - 32px);
        background: #fff;
        box-shadow: 0 2px 50px rgba(63, 81, 181, 0.16);
        border-radius: 5px; 
        
        &__header {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            padding: 10px;
            background-color: #3f51b5;
            border-radius: 5px 5px 0 0;
        }
        
        &__icon {
            display: flex;
            flex-basis: 30%;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
        }
        
        &__date {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 70%;
            
            h4 {
                font: rem(20px, 17px) $gotham-bold;
                color: #fff;
                text-align: left;
                
                &:nth-of-type(1) {
                    margin-bottom: 10px;
                }
            }
            
            p {
                font: rem(14px, 20px) $gotham-book;
                color: #fff;
                opacity: .5;
            }
        }
        
        &__text {
            flex-basis: 100%;
            padding: 20px 30px 0 30px;
        }
        
        &__bottom {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            border-top: 1px solid #e2e7ed;
            margin: 0 20px;
            padding: 20px 0;
            
        }
        
        .description {
            p {
                font: rem(13px, 14px) $gotham-book;
                color: #a0b0b9;
                text-align: left;
            }
        }
        
        &__icons {
            flex-basis: 100%;
        }
        
        &__temps {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            
            p {
                flex-basis: 100%;
                display: flex;
                font: rem(25px, 23px) $gotham-bold;
                padding: 15px 0 5px;
                color: #000;
                
                sup {
                    font: rem(15px, 15px) $gotham-bold;
                    line-height: 10px;
                    padding-left: 3px;
                }
                
                span {
                    font: rem(19px, 25px) $gotham-book;
                    vertical-align: bottom;
                    padding: 0 10px;
                }
            }
            
            .temp {
                &--min,
                &--max {
                    display: flex;
                    
                    p {
                        text-align: left;
                    }
                }
            }
        }
        
        &__humidity {
            display: flex;
            flex-basis: 40%;
            align-items: center;
            
            p {
                font: rem(17px, 18px) $gotham-book;
                color: #000;
                text-align: left;
                padding-left: 7px;
            }
        }
        
        &__wind {
            display: flex;
            flex-basis: 60%;
            align-items: center;
            
            p {
                font: rem(18px, 20px) $gotham-book;
                color: #000;
                padding-left: 7px;
            }
            
            .wind-direction {
                width: 26px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #57a4ff;
                margin-left: 7px;
                
                img {
                    display: flex;
                    transform-origin: center;
                    transform: rotate(0deg);
                    transition: all .5s ease;
                }
            }
        }
    }
}

.items-to-show {
    display: flex;
    flex-basis: 100%;
    margin: 20px 0;
    justify-content: flex-end;
    align-items: center;
    
    h4 {
        font: rem(16px, 18px) $gotham-bold;
        color: #000;
        padding-right: 15px;
    }
    
    ul {
        display: flex;
        align-items: center;
        
        li {
            padding: 0 10px;

            a {
                font: rem(14px, 25px) $gotham-bold;
                color: #232323;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                    color: navy;
                }
            }
        }   
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0;
    
    &__info {
        p {
            font: rem(14px, 17px) $gotham-light;
            color: #59595c;
        }    
        
        strong {
            margin-left: 10px;
            font: rem(15px, 17px) $gotham-bold;
            color: #3f51b5;
            border-bottom: 1px dashed #3f51b5;
        }
    }
    
    &__city-select {
        li {
            display: inline-block;
            
            a {
                display: block;
                font: rem(15px, 42px) $gotham-bold;
                color: #3f51b5;
                margin: 0 10px;
                padding: 0 40px;
                transition: all .2s ease;
                position: relative;
                overflow: hidden;
                height: 41px;
                box-shadow: 0 2px 50px rgba(63, 81, 181, 0.16);
                border-radius: 20px;
                background-color: #ffffff;
                
                &:before {
                    content: attr(data-caption);
                    position: absolute;
                    left: 0;
                    bottom: -100%;
                    width: 100%;
                    height: 100%;
                    background: #3f51b5;
                    border-radius: 20px;
                    transition: all .2s ease-out;
                    font: rem(15px, 42px) $gotham-bold;
                }
                
                &:hover {
                    color: #558b2f;
                    
                    &:before {
                        bottom: 0;
                        visibility: visible;
                        color: #fff;
                    }
                }
            }
            
            &:nth-last-of-type(1) {
                a {
                    margin-right: 0;
                }
            }
        }
    }
}


